.DS_Store
.sass-cache
node_modules
target

# Log files

logs
*.log

# Editor directories and files

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# eclipse files ignore

/.classpath
/.springBeans
/.project
/.settings
